DECLARE @SqlQuery NVARCHAR(100)
DECLARE cur CURSOR FOR
SELECT 'DELETE FROM ' + TABLE_SCHEMA + '.' +TABLE_NAME AS 'Query' FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME LIKE '%log'
OPEN cur
FETCH NEXT FROM cur INTO @SqlQuery
WHILE (@@FETCH_STATUS = 0)
BEGIN
	EXEC sp_executesql @SqlQuery
	FETCH NEXT FROM cur INTO @SqlQuery
END
CLOSE cur;

DEALLOCATE cur;

DELETE FROM dbo.ExtractControl
DELETE FROM StagingControl
DELETE FROM Suite WHERE SuiteID = 999

